---
import { getCollection, render } from 'astro:content';
import Breadcrumbs from '@components/Breadcrumbs.astro';
import Layout from '@layouts/Layout.astro';
// import { formatDate } from '../../utils/date';

export async function getStaticPaths() {
  const cvs = await getCollection('cvs');
  
  return cvs.map(cv => ({
    params: { slug: cv.data.slug },
    props: { cv },
  }));
}

const { cv } = Astro.props;
const { Content } = await render(cv);

---

<!-- <Layout title={cv.data.title} description={cv.data.description}> -->
<Layout>
  <Breadcrumbs path={['cvs', cv.data.title]} />
  <article class="page-content">
    <header class="post-header">
  <!--     <h1>{cv.data.title}</h1> -->
  <hr/>
  <!--     <div class="post-meta"> -->
  <!--       <div class="description">{cv.data.description}</div> -->
  <!--     </div> -->
  </header>
    <Content />
  </article>
</Layout>

<style>
  .post {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  .post-header {
    margin-bottom: 2rem;
  }

  h1 {
    font-size: var(--step-4);
    margin: 0 0 1rem;
    color: var(--color-text-base);
  }

  .post-meta {
    display: flex;
    gap: 1rem;
    color: var(--color-text-base);
    font-size: var(--step--1);
    align-items: center;
  }

  .category {
    padding: 0.5em;
    text-transform: capitalize;
    background: var(--color-card);
  }


  .page-content :global(p:first-of-type) {
    font-size: var(--step-1);
    color: var(--color-text-muted);  
  }

</style>
